.headerContainer {
  background-color: #333;
  color: rgb(255, 255, 255);
  max-width: 1920px;
  min-width: 310px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.headerProfile {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;

  img{
    border-radius: 100%;
  }
  p{
    margin-left: 10px;
    font-family: cursive;
  }
}


.headerBtn{
  display: flex;
  align-items: center;
  margin-right: 10px;
  .nightMode{
    display: flex;
    align-items: center;
    margin-right: 10px;
    svg{
      cursor: pointer;
      margin-right: 5px;
    }
    p{
      font-family: cursive;
    }
  }

  button{
    display: flex;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}