.headerContainer {
  background-color: #ffffff;
  color: #5f6368;
  max-width: 1920px;
  min-width: 310px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  
}
.searchPc{
  display: flex;
}
.searchMobile{
  display: none;
}
.searchMobileContainer{
  width: 100%;
  height: 4rem;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContent{
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
}
.headerProfile {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 100%;
  margin-left: 10px;

  img{
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  p{
    margin-left: 10px;
    font-family: 'roboto', sans-serif;
  }
}


.headerBtn{
  display: flex;
  align-items: center;
  margin-right: 10px;
  .nightMode{
    display: flex;
    align-items: center;
    margin-right: 10px;
    svg{
      cursor: pointer;
      margin-right: 5px;
    }
    p{
      font-family: 'roboto', sans-serif;
    }
  }

  button{
    display: flex;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}


@media screen and (max-width: 450px){
  .searchPc{
    display: none;
  }
  .searchMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    p{
      color: #5f6368;
      font-size: 1.1rem;
    }
    cursor: pointer;
  }
  
}
@media screen and (min-width: 451px){
  .searchMobileContainer{
    display: none;
  }
}