.plusContainer{
  //margin-top: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  
  svg{
    cursor: pointer;
    color: #5f6368;
    //box-shadow: 0 0 25px 1px rgba(87, 87, 87, 0.521);
    border-radius: 100%;
  }
  p{
    color: rgb(191, 191, 191);
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    margin-left: 5px;
    
  }
}

@media screen and (max-width: 550px){
  .plusContainer{
    
    p{
      display: none;
    }
  }
}

//modal
.modalContainer{
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  max-width: 500px;
  min-width: 320px;
  height: 450px;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  
  .closeIcon{
    display: flex;
    position: relative;
    top: 0;
    left: 290px;
    cursor: pointer;
  }
}

.modalForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
 
  height: 100%;
  padding: 15px;
  h3{
    color: #3a3a3a;
    text-align: center;
  }
  input, label {
    width: 100%;
    height: 30px;
    border: none;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    color: #5a5a5a;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: cursive;
    font-weight: 700;
    &:placeholder-shown{
      color: #131313;
    }
    
  }
  input[type='file'] {
    display: none
  }
  
  label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
    span{
      font-size: 0.8rem;
      color: #6e6e6e;
    }
  }
}
.pdfPicker{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    color: #4ed460;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: cursive;
  }
}
.imagePicker{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.btnSend{

  width: 150px;
  height: 30px;
  position: relative;
  bottom: -10px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #3a3a3a;
  font-family: cursive;
  font-size: 0.9rem;
  cursor: pointer;
}